<html>
	<head> 
		<title>3 Column CSS Demo - Equal Height Columns with Cross-Browser CSS</title> 	
		<link rel="stylesheet" href="{{ static_url("main.css") }}" type="text/css" media="screen" />		
	</head> 
	<body id="active3">  
		<div id="header"> 
			<p>denver seminary students</p>
		</div> 
		<div id="container3"> 
			<div id="container2"> 
				<div id="container1"> 
					<div id="col1"> 
						<!-- Column one start --> 
						<ul class="nav">
						  <li><a href="/profile/79342" style="border-top: 1px solid #666;" >my profile</a></li>
						  <li>
							<a href="/affinity">my matches</a>							
						  </li>      
						</ul>						
						<!-- Column one end --> 
					</div> 
					<div id="col2" style="text-align: right;"> 
						<!-- Column two start --> 
						<h2>Your Affinity Matches</h2>
						<p><a href="#">Seth Washeck</a>  dinner groups (couples)</p>
						<p><a href="#">Seth Washeck</a>  study group</p>
						<p><a href="#">Seth Washeck</a>  dinner groups (couples)</p>
						<!-- Column two end --> 
					</div> 
					<div id="col3" > 
						<!-- Column three start --> 					
						<ul class="nav">
							<li style="border-bottom: 1px solid #666;border-top: 1px solid #666;">
								<a href="/affinity/edit">change match settings</a>
							</li>
						</ul>			
						<!-- Column three end --> 
					</div> 
				</div> 
			</div> 
		</div> 
		<div id="footer"> 
			
		</div> 	 
	</body> 
</html>
